@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    margin: 0;
    font-family: Roboto, sans-serif;
}

.hero {
    background: #1f2937;
    display: flex;
    flex-direction: column;   
}

.header-logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bolder;
}

ul {
   list-style: none;
   display: flex;
   align-items: center;
   margin-top: 4px;
   padding: 0;
   gap: 24px;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

.header {
    display: flex;
    justify-content: space-between;  
    padding: 18px 210px; 
}

.hero-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 86px 210px;
    margin-bottom: 50px;
}

.hero-body-text {
    width: 450px;
    display: flex;
    flex-direction: column;
   }

.hero-text {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8; 
}

.hero-subtext {
   font-size: 18px;
   color: #e5e7eb; 
   margin-bottom: 12px; 
}

.signup-top {
    background: #3882f6;
    border: none;
    color: white;
    font-size: 18px;
    font-weight: bolder;
    border-radius: 8px;
    padding: 8px 24px;
}

img {
    height: 237 px;
    width: 523 px; 
}

/* WEB PAGE SECTION TWO */

.section-two {
  padding: 48px;
  margin-bottom: 30px; 
}

.title {
    display: flex;
    justify-content: center;
    font-size: 36px;
    color: #1f2937;
    font-weight: 950;
    
}

.squares-container {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 48px;
    gap: 49px;
}

.squares {
    font-weight: light;
    font-size: 18px;
    max-width: 168px;
}

/* WEB PAGE SECTION THREE */

.quote-container {
    padding: 110px 275px 110px 325px;
    background: #e5e7eb;
}

.quote {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1f2937;
}

.attribution {
    text-align: right;
    font-size: 24px;
    font-weight: bold;
    padding: 0 40px;
}

/* WEB PAGE SECTION FOUR */

.signup-graphic {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 105px;
    background: #3882f6;
    margin: 100px 200px;
    border-radius: 8px;
}

.signup-header-text {
   color: #f9faf8;
   font-size: 24px;
   font-weight: bold; 
}

.signup-subtext {
    color: #f9faf8;
    font-size: 18px;
}

.signup-bottom {
    background: #3882f6;
    color: white;
    font-size: 18px;
    font-weight: bold;
    border: 2px solid white;
    border-radius: 8px;
    padding: 6px 32px;
}

/* FOOTER */

